## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp
.tags*

## IDEA
.idea/

## PROJECT::GENERAL
.bundle
coverage
/rdoc
/doc
pkg

## PROJECT::SPECIFIC

# YARD
.yardoc/

# Local scripts
.scripts/

# Temp files
tmp/
